body {
    background-image: url(background2.jpg);
}
.calculator-body{
    position: absolute;
    top: -200px;
     margin-top: 300px; 
     left: 40%; 
     right: 40%;
     width: 400px;
     height: 400px;
    
}
td{
height: 100px;
width: 115px;
margin: 200px;
background-color: rgb(12, 12, 12);
text-align: center;
color: white;


}
input, button{
    width: 100px;
    padding: 25px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border: none;
    
}
input, text{
    font-size: 2rem;
    text-align: center;
    /* background-color: white; */
    
}
tr{
    width: 100px;
    height: 100px;
}
#result{
    width: 420px;
    height: 50px;
    font-size: 50px;
    background-color: black;
    color: rgb(247, 243, 243);
}
input:hover{
    
    background-color: #19d;
}
